* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f3f4f6;
  font-family: Arial, Helvetica, sans-serif;
  color: #222;
  font-size: 20px;
  padding: 40px;
}

form {
  background-color: white;
  width: 400px;
  padding: 24px;
  border: 2px solid #ddd;
  border-radius: 8px;
}

h1 {
  font-size: 35px;
  margin-bottom: 25px;
}

h2 {
  margin-bottom: 20px;
  text-align: center;
}

p {
  margin-bottom: 10px;
}

.first {
  color: red;
}

#your-name {
  background-color: rgb(255, 220, 105);
  border: 5px solid #444;
  width: 400px;
  padding: 25px;
  margin-top: 30px;
}

input {
  width: 100%;
  padding: 12px;
  margin-bottom: 16px;
  border: 1px solid #aaa;
  font-size: 16px;
}

button {
  background-color: #2563eb;
  color: white;
  border: none;
  cursor: pointer;
  padding: 12px 24px;
  font-size: 16px;
}

a {
  background-color: yellowgreen;
}

#course-image {
  width: 300px;
}

#your-name h2 {
  color: olivedrab;
}
button:hover {
  background-color: #1d43d8;
}

.my-form {
  background-color: rgb(159, 127, 235);
  padding: 30px;
  width: 400px;
}
